$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

$background-color: #e9ebee;
$font-color: #333;

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: 'Roboto' !important;
}

a {
  color: $font-color !important;
}

body {
  background-size: cover;
  font-size: 16px !important;
}

.text-bold {
  font-weight: bold;
}

@media (min-width: 576px) {
  h1 {
    // font-size: 30px !important;
  }
}

@media (min-width: 768px) {
  h1 {
    // font-size: 10px !important;
  }
}

@media (min-width: 992px) {
  h1 {
    // font-size: 20px !important;
  }
}
