.body {
  padding: 2rem;
}

.react-eth-example {
  padding-right: 2rem;
}

.example-row {
  margin-bottom: 1rem;
}

.playground-abiForm {
  width: 100%;
}

.footer {
  border-top: 1px solid black;
  margin-top: 1rem;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
}
/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly8vLi9leGFtcGxlcy9faW5kZXguY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0UsY0FBYztDQUNmOztBQUVEO0VBQ0Usb0JBQW9CO0NBQ3JCOztBQUVEO0VBQ0Usb0JBQW9CO0NBQ3JCOztBQUVEO0VBQ0UsWUFBWTtDQUNiOztBQUVEO0VBQ0UsNEJBQTRCO0VBQzVCLGlCQUFpQjtFQUNqQixnQkFBZ0I7RUFDaEIsbUJBQW1CO0VBQ25CLFlBQVkiLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLmJvZHkge1xuICBwYWRkaW5nOiAycmVtO1xufVxuXG4ucmVhY3QtZXRoLWV4YW1wbGUge1xuICBwYWRkaW5nLXJpZ2h0OiAycmVtO1xufVxuXG4uZXhhbXBsZS1yb3cge1xuICBtYXJnaW4tYm90dG9tOiAxcmVtO1xufVxuXG4ucGxheWdyb3VuZC1hYmlGb3JtIHtcbiAgd2lkdGg6IDEwMCU7XG59XG5cbi5mb290ZXIge1xuICBib3JkZXItdG9wOiAxcHggc29saWQgYmxhY2s7XG4gIG1hcmdpbi10b3A6IDFyZW07XG4gIHBhZGRpbmc6IDFyZW0gMDtcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xuICB3aWR0aDogMTAwJTtcbn0iXSwic291cmNlUm9vdCI6IiJ9*/