.body {
  padding: 2rem;
}

.react-eth-example {
  padding-right: 2rem;
}

.example-row {
  margin-bottom: 1rem;
}

.playground-abiForm {
  width: 100%;
}

.footer {
  border-top: 1px solid black;
  margin-top: 1rem;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
}